.main-navbar-ul {
    display: flex;
    background-color: #f0f8ff;
    justify-content: end;
    padding-right: 5%;
}
.main-navbar-ul li {
    list-style-type: none;
    padding: 1%;
}
.main-navbar-ul a {
    text-decoration: none;
}

