<main class="page-main-container">
    <article class="header">
        <header class="page-title">
            <h1 class="main-title">
                PROPS
            </h1>
        </header>
    </article>

    <article class="component-comunication main-article">
        <section class="component-comunication-top-section">
            <h2 class="component-comunication-title">
                Component comunication (two ways)
            </h2>
            <p class="component-comunication-text">
                Props is called inside component where we want to call it, but it is defined in ts file inside parent component.
                Questions, how i pass props of my child component inside parent component where I render child?
                <i>Practice: add some code in children and parent and make it happen...</i>
            </p>
            <ul class="component-comunication-list">
                <li class="component-comunication-list-item">
                    Pass data from parent to child with input binding
                </li>
                <li class="component-comunication-list-item">
                    Intercept input property changes with a setter
                </li>
                <li class="component-comunication-list-item">
                    Intercept input property changes with ngOnChanges()
                </li>
                <li class="component-comunication-list-item">
                    Parent listens for child event
                </li>
                <li class="component-comunication-list-item">
                    Parent interacts with child using local variable
                </li>
                <li class="component-comunication-list-item">
                    Parent calls an @ViewChild()
                </li>
                <li class="component-comunication-list-item">
                    Parent and children communicate using a service
                </li>
            </ul>
        </section>

        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                Input binding
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">

            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                Setter
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                ngOnChanges()
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                Child event
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                Local variable
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                @ViewChild()
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
        <section class="component-comunication-subsection subsection">
            <h3 class="component-comunication-subsection-title">
                Service
            </h3>
            <p class="subsection-paragraph">
                
            </p>
            <p class="subsection-example">
                
            </p>
        </section>
    </article>

    <article class="parent-to-children">
        <section class="parent-to-children-top-section">
            <h2 class="parent-to-children-title">
                Parent to children
            </h2>
            <p class="parent-to-children-text">
                There is couple ways to send props from parent to children component:
            </p>
        </section>
    </article>
</main>